{% extends 'base.html' %}

{% block head  %}
    <title>Tung Thai</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align">Cửa hàng Tùng Thái</h1>
        {% if tasks|length < 1%}
        <h4 style="text-align: center">Không có khách hàng nào, nhập ở bên dưới</h4>
        {% else %}
        <table>
            <tr>
                <th>Khách hàng</th>
                <th>Giao dịch</th>
                <th>Đơn vị tính</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <Th>Thành tiền</Th>
                <th>Ngày GD cuối cùng</th>
                <th>Xóa/Cập Nhật</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task.khachhang}}</td>
                    <td>{{task.content}}</td>
                    <td>{{task.donvi}}</td>
                    <td>{{task.dongia}}</td>
                    <td>{{task.soluong}}</td>
                    <td>{{task.thanhtien}}</td>
                    <td>{{task.date_created.date()}}</td>

                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="khachhang" id="khachhang" placeholder="Nhập tên khách hàng">
                <input type="text" name="content1" id="content1" placeholder="Nhập các mặt hàng lấy">
                <br>
                <br>
                <input type="text" name="donvi" id="donvi" placeholder="Nhập đơn vị">
                <input type="number" name="dongia" id="dongia" placeholder="Nhập đơn giá">
                <br>
                <br>
                <input type="number" name="soluong" id="soluong" placeholder="Nhập số lượng">
                <input type="submit" value="Thêm khách hàng">
            </form>
        </div>
    </div>
{% endblock %}